<section class="container profile">
	<img class="logo" src="/image/logo_with_text.png" />
	<br /><span class="text"
		>Welcome Back !
		<a class="dropdown-item" href="/user/setting"
			><i class="fas fa-cog"></i>

			Setting</a
		>
	</span>
	<a class="crt-post" href="/user/create_post"
		><img class="footer_logo" alt="post" src="/image/post.png" />Create a
		post</a
	><br />
	<div class="pp">
		<label class="text" for="latest_post">Posts</label>
		<div id="latest_post">
			<% if(latest_post.length > 0){%> <%latest_post.forEach(x=> {%>
			<a href="/content/post_detail/<%=x.post_id%>" class="single-anchor">
				<div class="user_single_post">
					<img
						src="<%= JSON.parse(x.image)[0]%>"
						alt="Card image cap"
						class="post-img"
					/>
					<div class="post-body">
						<h6><%=x.post_title%></h6>
						<p class="price">CAD: $ <%=x.price%></p>
						<p class="condition"><%=x.item_condition%></p>
						<p class="date"><%=x.date.toString().split('2020')[0]%></p>
						<p class="location"><%=x.location%></p>
					</div>
				</div>
			</a>
			<% }) ; %><%}%>
		</div>
	</div>

	<div class="fp">
		<label class="text" for="latest_post">My Favourites</label>
		<div id="latest_post">
			<%if(favorite_post.length > 0 && favorite_post[0].date != null ){%>
			<%favorite_post.forEach(x=> {%>
			<a href="/content/post_detail/<%=x.post_id%>" class="single-anchor">
				<div class="user_single_post">
					<img src="<%= x.image[0]%>" alt="Card image cap" class="post-img" />
					<div class="post-body">
						<h6><%=x.post_title%></h6>
						<p class="price">CAD: $ <%=x.price%></p>
						<p class="condition"><%=x.item_condition%></p>
						<p class="date"><%=x.date.toString().split('2020')[0]%></p>
						<p class="location"><%=x.location%></p>
					</div>
				</div>
			</a>
			<% }) ; %><%}%>
		</div>
	</div>

	<div class="mg">
		<label class="text" for="message">Messages</label>
		<div id="message_box">
			<% chatrooms.forEach(chatroom => { %>

			<a href="/chat/detail_msg/<%= chatroom.id %>" class="single-anchor">
				<div class="user_single_post">
					<img
						src="<%= JSON.parse(chatroom.other_user)[0].avatar %>"
						alt="Card image cap"
						class="avatar"
					/>
					<div class="post-body" style="margin: auto;">
						<h6><%= JSON.parse(chatroom.other_user)[0].user %></h6>
						<p style="font-size: 1rem;">
							<%= JSON.parse(chatroom.chat)[ JSON.parse(chatroom.chat).length -
							1 ].line_chat %>
						</p>
					</div>
				</div>
			</a>
			<% }) %>
		</div>
	</div>
</section>
