<div class="container detail">
	<%- include ("../partial/back-btn"); %>

	<section id="post-sec">
		<div class="slide_container">
			<%picture.forEach(x=>{%>
			<div class="mySlides">
				<div style="margin: auto;">
					<img alt="preview_pic" name="preview_pic" src="<%=x%>" />
				</div>
			</div>
			<%})%>
			<a class="prev" onclick="plusSlides(-1)">❮</a>
			<a class="next" onclick="plusSlides(1)">❯</a>
			<div class="row">
				<%picture.forEach(x=>{%>
				<div class="column">
					<img alt="preview_pic" name="preview_pic" src="<%=x%>" width="100%" />
				</div>
				<%})%>
			</div>
		</div>

		<div class="item-info">
			<form id="fav-frm" action="/user/user-favorite/<%=id%>">
				<%if (locals.is_liked == true) {%>
				<i
					id="fav-btn"
					class="fas fa-heart"
					style="
						font-size: 50px;
						float: right;
						cursor: pointer;
						color: rgb(255, 0, 0);
					"
				>
				</i>
				<%}else{%>
				<i
					id="fav-btn"
					class="fas fa-heart"
					style="font-size: 50px; float: right; cursor: pointer;"
				></i
				><%}%>
			</form>

			<label class="d-flex"
				>Title: &nbsp;
				<span style="font-weight: bold;"> <%=post.post_title%></span>
			</label>
			<label class="d-flex"
				>Cost: &nbsp;
				<span style="font-weight: bold;">$ <%=post.price%></span>
			</label>
			<label class="d-flex"
				>Condition: &nbsp;
				<span style="font-weight: bold;">$ <%=post.item_condition%></span>
			</label>

			<label class="d-flex"
				>Locate at: &nbsp;
				<span style="font-weight: bold;"><%=post.location%></span>
			</label>

			<article class="des"><%=post.post_detail%></article>
		</div>
		<div>
			<div class="user_info">
				<div class="user">
					<img
						src="<%=seller.seller_avatar%>"
						alt="Card image cap"
						class="avatar"
					/>
					<div style="margin: auto;">
						<h6><%=seller.seller_email%></h6>

						<% if(seller.seller_number == " "){ %>
						<p>n/a</p>
						<% }else{ %>
						<p><%=seller.seller_number%></p>
						<%}%>
					</div>
				</div>
			</div>
			<div style="text-align: right;">
				<button id="contact">Contact</button>
			</div>
		</div>
	</section>
</div>

<div class="myModal">
	<div class="chatbox">
		<header>
			<span class="close">&times;</span><br />
			<%=seller.seller_email%>
		</header>
		<main id="chatbody"></main>
		<footer>
			<form id="chatForm">
				<input type="text" name="msg" id="chatinput" />
				<button type="submit" id="send-btn">Send</button>
			</form>
		</footer>
	</div>
</div>
