<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ("partial/header_include"); %> <%if (locals.errmsg){ %>
		<style>
			.content_box1 {
				height: 100%;
			}
		</style>
		<% } %>
		<title>Craigslist</title>
		<link rel="shortcut icon" type="image/png" href="/image/logo.png" />
	</head>

	<body>
		<% if(locals.content_css) {%> <%- include ("partial/sidemenu"); %>
		<div id="overlay"></div>
		<header><%- include ("partial/header"); %></header>
		<%if( locals.d_sidebar == false) {%> <% } else { %> <%-include
		("partial/d-sidebar"); %> <%}%> <%- body %> <%- include ("partial/footer");
		%> <% if(locals.footer != false) {%> <%- include
		("partial/desktop_footer");%> <%}%> <% } else { %>
		<div class="main-pg">
			<section class="side-logo-box">
				<img src="/image/white_stack_logo.png" />
			</section>

			<div class="body-sec">
				<%- body %>
			</div>
		</div>
		<% } %>
	</body>
	<%- include ("partial/jquery"); %>
	<script defer src="/socket.io/socket.io.js"></script>
	<script defer src="/javascript/socket.js"></script>
	<script src="/javascript/changeForm.js"></script>
	<% if(locals.signup) { %>
	<script src="/javascript/customFormValidation.js"></script>
	<%}%>
	<script src="/javascript/sidemenu_toggle.js"></script>
	<% if(locals.content_css) {%>
	<script src="/javascript/sub_category.js"></script>
	<% } %> <% if(locals.preview == true){%>
	<script src="/javascript/preview.js"></script>
	<%}%> <% if(locals.img == true){%>
	<script src="/javascript/addFavourite.js"></script>
	<script src="/javascript/changeimg.js"></script>
	<script src="/javascript/messaging.js"></script>
	<% } %> <%if(locals.a_c == true){%>
	<script src="/javascript/account_update.js"></script>
	<%}%>
	<script src="/javascript/sortby.js"></script>
</html>
