<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ("partial/header_include"); %> <% if(locals.content_css) {%>
		<link rel="stylesheet" href="<%=content_css%>" />
		<%}else{%>
		<link rel="stylesheet" href="/css/main.css" />
		<%}%> <%if (locals.errmsg){ %>
		<style>
			.content_box1 {
				height: 100%;
			}
		</style>
		<% } %>
		<title>Craigslist</title>
	</head>
	<body>
		<% if(locals.content_css) {%> <%- include ("partial/sidemenu"); %>
		<div id="overlay"></div>
		<header><%- include ("partial/header"); %></header>
		<div class="d-flex">
			<div class="d-sidebar">
				<form class="form-inline" style="margin: 0 auto;">
					<i class="fas fa-search" aria-hidden="true">
						<input class="form-control" type="search" placeholder="Search" />
					</i>
					<button class="btn btn-outline-success" type="submit">
						Search
					</button>
				</form>
				<%- include ("partial/clock"); %>
			</div>
			<%- body %>
		</div>
		<%- include ("partial/footer"); %><%- include ("partial/desktop_footer"); %>
		<% } else { %>
		<div class="main-pg">
			<section class="side-logo-box">
				<img src="/image/white_stack_logo.png" />
			</section>

			<div class="body-sec">
				<%- body %>
			</div>
		</div>
		<% } %>
	</body>
	<script src="/javascript/clock.js"></script>
	<%- include ("partial/jquery"); %>
	<script src="/javascript/changeForm.js"></script>
	<% if(locals.signup) { %>
	<script src="/javascript/customFormValidation.js"></script>
	<%}%>
	<script src="/javascript/sidemenu_toggle.js"></script>
	<% if(locals.content_css) {%>
	<script src="/javascript/sub_category.js"></script>
	<script src="/javascript/preview.js"></script>

	<!-- <script src="/javascript/bottom_nav.js"></script> -->

	<% } %>
</html>
