<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://kit.fontawesome.com/e4ce15ec9e.js"
			crossorigin="anonymous"
		></script>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
			rel="stylesheet"
		/>

		<% if(locals.content_css) {%>
		<link rel="stylesheet" href="<%=content_css%>" />
		<%}else{%>
		<link rel="stylesheet" href="/css/main.css" />
		<%}%> <%if (locals.errmsg){ %>
		<style>
			.content_box1 {
				height: 100%;
			}
		</style>
		<% } %>

		<title>Craigslist</title>
	</head>
	<body>
		<% if(locals.content_css) {%> <%- include ("./partial/sidemenu"); %>
		<div id="overlay"></div>
		<header><%- include ("./partial/header"); %></header>
		<%- body %> <%- include ("./partial/footer"); %> <% } else { %> <%- body %>
		<% } %>
	</body>
	<%- include ("./partial/jquery"); %>
	<script src="/javascript/changeForm.js"></script>
	<% if(locals.signup) { %>
	<script src="/javascript/customFormValidation.js"></script>
	<%}%>
	<script src="/javascript/sidemenu_toggle.js"></script>
	<% if(locals.content_css) {%>
	<script src="/javascript/sub_category.js"></script>
	<!-- <script src="/javascript/bottom_nav.js"></script> -->

	<% } %>
</html>
