<div class="container detail">
	<section id="post-sec">
		<div class="row slide_container" id="picGrid">
			<div class="photoGlary">
				<%picture.forEach((x,index)=>{%> <% if(index < 4) {%>

				<img
					src="<%=x%>"
					onclick="openModal();currentSlide(<%=index+1%>)"
					class="pi column m-img grid<%=index%>"
				/>
				<%}%> <%})%>
			</div>
		</div>

		<div id="myModal" class="modal">
			<span class="clo-btn" onclick="closeModal()">X Close</span>
			<div class="modal-content">
				<%picture.forEach(x=>{%>

				<div class="mySlides" style="margin: auto; text-align: center">
					<img src="<%=x%>" style="width: 60%; height: 80%" />
				</div>

				<%})%>

				<div class="imgControl">
					<div onclick="plusSlides(-1)"><a class="prev">&#10094;</a></div>

					<div onclick="plusSlides(1)"><a class="next">&#10095;</a></div>
				</div>
			</div>
		</div>

		<div class="item-info">
			<form id="fav-frm" action="/user/user-favorite/<%=id%>">
				<%if (locals.is_liked == true) {%>
				<i
					id="fav-btn"
					class="fas fa-heart"
					style="
						font-size: 50px;
						float: right;
						cursor: pointer;
						color: rgb(255, 0, 0);
					"
				>
				</i>
				<%}else{%>
				<i
					id="fav-btn"
					class="fas fa-heart"
					style="font-size: 50px; float: right; cursor: pointer"
				></i
				><%}%>
			</form>

			<!-- item info -->
			<div class="item-info">
				<label class="ptitle d-flex align-items-center">
					<span style="font-weight: bold"> <%=post.post_title%></span>
				</label>
				<hr />
				<label class="d-flex align-items-center"
					><i class="fas fa-dollar-sign picon"></i>
					&nbsp;
					<span style="font-weight: bold">$ <%=post.price%></span>
				</label>
				<label class="d-flex align-items-center"
					><i class="fas fa-thumbs-up picon"></i>
					&nbsp;
					<span style="font-weight: bold"> <%=post.item_condition%></span>
				</label>

				<label class="d-flex align-items-center"
					><i class="fas fa-map-marker-alt picon"></i>
					&nbsp;
					<span style="font-weight: bold"><%=post.location%></span>
				</label>
				<hr />
				<article class="des"><%=post.post_detail%></article>
			</div>
		</div>

		<!-- user info -->
		<div class="user_info">
			<div class="userHeader"><label>Seller Info</label></div>

			<div>
				<div class="user">
					<img
						src="<%=seller.seller_avatar%>"
						alt="Card image cap"
						class="avatar"
					/>
					<div style="margin: auto">
						<h6><%=seller.seller_email%></h6>

						<% if(seller.seller_number == " "){ %>
						<p>n/a</p>
						<% }else{ %>
						<p><%=seller.seller_number%></p>
						<%}%>
					</div>
				</div>
			</div>
			<div style="text-align: right">
				<button id="contact">Contact</button>
			</div>
		</div>
	</section>
</div>

<div class="myModal">
	<div class="chatbox">
		<header>
			<span class="close">&times;</span><br />
			<%=seller.seller_name%>
		</header>
		<main id="chatbody">
			<li style="text-align: left">
				<img class="chat_avatar" src="<%= seller.seller_avatar %>" />
				<span class="receive">Contact me any time!</span>
			</li>
		</main>
		<footer>
			<form id="post_chatForm">
				<input
					type="text"
					name="user_two"
					value="<%= seller.seller_email %>"
					hidden
				/>
				<input type="text" name="msg" id="chatinput" required />
				<button type="submit" id="send-btn">Send</button>
			</form>
		</footer>
		<div id="confirm_chat" title="" style="text-align: center">
			<i class="far fa-check-circle" style="font-size: 50px"></i>
			<h4 style="color: #477b99">Message Send !</h4>
			<p style="font-size: 13px">
				<%=seller.seller_name%> will contact you soon.
			</p>
		</div>
	</div>
</div>
