<section class="container content_box1">
	<div class="top_bar">
		<span class="material-icons">
			keyboard_backspace
		</span>
		<p>BACK</p>
	</div>

	<img class="logo1" alt="horizontal_logo" src="/image/horizontal.png" />
	<div class="content_box1 inner">
		<%if (locals.errmsg){ %>
		<div id="err_msg" style="width: 80%;">
			<div class="alert alert-danger" role="alert">
				<%=errmsg %>
			</div>
		</div>
		<% } %> <%- include("./require_info");%>
	</div>
	<div class="inner2">
		<%- include("./location");%>
	</div>

	<!-- terms of service -->
	<div class="inner3">
		<%- include("./term_of_service");%>
	</div>

	<!-- terms of service -->
	<div class="inner4">
		<%- include("./confirm");%>
	</div>
</section>
